header{
    background-image: url(../Immagini/pattern.png);
    background-color: rgb(70, 175, 245);
    background-size: 300px;
    width: 40%;
    padding-right: 1200px;

}
#logo{
    width: 200px;
    padding-left: 100px;
    margin-top: 20px;
}

h1{
    padding-right: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom:5px;
    font-size: 50px;
    padding-left: 100px;
}
a{
    color: rgb(70, 175, 245);
    padding-left: 2px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.Trafilettogrey{
    color: gray;
    margin: 2px;
    padding-left: 100px;

}
#Photo{
    margin-top: 20px;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 500px

}
.fotoformat{
    font-size:small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2px;
}
thead{
    color: aliceblue;
    background-color: rgb(70, 175, 245);
}
.dispari{
    background-color: rgba(105, 199, 228, 0.644);
    border-color: rgba(105, 199, 228, 0.644);
    
}
table{
    width: 100%;
    padding-left: 100px;
    padding-right: 5px;

}
#Grey{
    color: gray;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 35px;
    padding-left: 100px;
}
#pubblicità{
   margin-right: 1200px;
   width: 200px;
   padding-left: 100px;
}
#ulistconp{
    padding-left: 100px;
}
#footerp{
    padding-left: 100px;
}
main{
    margin: auto;
}